.menu ul,
.menu li,
.menu span,
.menu a {
  margin: 0;
  padding: 0 0;

}
.menu {
z-index: 2;
position: relative;
width: 99%;
height: 75px;
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 52%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(52%,#2989d8), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 52%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7db9e8 0%,#2989d8 52%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7db9e8 0%,#2989d8 52%,#1e5799 100%); /* IE10+ */
background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 52%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
border-top: 2px solid #2E9AFE;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.menu:after,
.menu ul:after {
  content: '';
  display: block;
  clear: both;
}
.menu a {
  display: inline-block;
  line-height: 75px;
  padding: 0 20px;
  text-decoration: none;

}
.menu ul {
  list-style: none;

}
.menu > ul {
    text-align: center;
	font-size: 32px;
	color: white;
	text-decoration: none;
}
.menu > ul > li {

}
.menu > ul > li > a {
  color: white;
}
.menu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ff0000;
  margin-left: -10px;
}
.menu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
.menu > ul > li.active:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ff0000;
  margin-left: -10px;
  background: -webkit-radial-gradient(top, #df0101 0%, #000000 ef 100%);
}

.menu > ul > li:hover > a {
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
.menu .has-sub {
  z-index: 1;
  width: 99%;
}
.menu .has-sub:hover > ul {
  display: block;
}
.menu .has-sub ul {
  display: none;
  position: absolute;
  width: 100%;	
  top: 100%;
  left: 0;
}
.menu .has-sub ul li {
  *margin-bottom: -1px;
}
.menu .has-sub ul li a {
  background: #2E9AFE;
  border-bottom: 2px dotted #ffffff;
  filter: none;
  font-size: 13px;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
.menu .has-sub ul li:hover a {
  background: #cc0000;
}
.menu .has-sub .has-sub:hover > ul {
  display: block;
}
.menu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
.menu .has-sub .has-sub ul li a {
  background: #cc0000;
  border-bottom: 1px dotted #ff3333;
}
.menu .has-sub .has-sub ul li a:hover {
  background: #b30000;
}