*{
margin: 0px;
padding: 0px 0;
border: 0px;
list-style:none;
font-size:100%;
font:inherit;
vertical-align: baseline;
}

body{
background-color: #6397AF;
font-family: 'Lato', Calibri, Arial, sans-serif;
color: #47a3da;
}

#container{
background-color: #6397AF;
width: 100%;
margin: 0 auto;
height: 550px;
}

#menu{
background-color: #417995;
width: 100%;
margin: 0 auto;
height: 1000px;
}

#header{
position: relative;
background-image: url('images/honeycomb.jpg');
background-image: -o-linear-gradient(top, #03DBFC 11%, #1F44FF 59%, #3DCBFF 96%);
background-image: -moz-linear-gradient(top, #03DBFC 11%, #1F44FF 59%, #3DCBFF 96%);
background-image: -webkit-linear-gradient(top, #03DBFC 11%, #1F44FF 59%, #3DCBFF 96%);
background-image: -ms-linear-gradient(top, #03DBFC 11%, #1F44FF 59%, #3DCBFF 96%);
background-image: linear-gradient(to top, #03DBFC 11%, #1F44FF 59%, #3DCBFF 96%);
height: 100px;
font-size: ;
}

#logo{
position: relative;
height: 100%;
}

#title{
position: relative;
float: right;
margin-top: -70px;
margin-right: 10px;
width: 80%;
}

#title h3{
font-size: 1.4em;
color: white;
margin-top: 5px;
text-align: right;
}

#races button{
position: relative;
width: 99%;
padding: 5px 5px;
font-size: 24px;
background-color: blue;
border: solid 2px blue;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#textbox{
z-index: 1;
border: dotted 1px white;
text-align: centre;
color: white;
}

#pagetitle h1{
font-size: 30px;
font-weight: bold;
color: #0000FF;
text-align: center;
}

#prototype h2{
color: black;
font-size: 1.4em;
}

hr{
border-bottom: solid 1px white;
}

#back button{
margin: auto;
border: solid 1px black;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
width: 100%;
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #46BAEB),color-stop(1, #62FFFF));
background-image: -o-linear-gradient(left, #46BAEB 70%, #62FFFF 100%);
background-image: -moz-linear-gradient(left, #46BAEB 70%, #62FFFF 100%);
background-image: -webkit-linear-gradient(left, #46BAEB 70%, #62FFFF 100%);
background-image: -ms-linear-gradient(left, #46BAEB 70%, #62FFFF 100%);
background-image: linear-gradient(to left, #46BAEB 70%, #62FFFF 100%);
font-size: 1.1em;
}

#routemap{
margin: auto;
border: solid 1px black;
height: 250px;
width: 95%;
color: white;
}

#racedetails{
color: white;
padding: 0 20px;
}
