*{
margin: 2px;
Padding: 0px;
border: 0px;
list-style:none;
font-size:100%;
font:inherit;
vertical-align: baseline;
}

body{
background-color: #FFF;
}

#container{
background-color: #345;
width: 100%;
margin: 0 auto;
height: 1000px;
}

#header{
position: relative;
background-image: url('../images/carbon-bg.jpg');
height: 100px;
}

#logo{
position: relative;
height: 100%;
}

#title{
position: relative;
float: right;
margin-top: -70px;
}

h3{
font-size: 32px;
}

#races button{
position: relative;
width: 99%;
padding: 5px 5px;
font-size: 24px;
background-color: blue;
border: solid 2px blue;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

#textbox{
z-index: 1;
border: dotted 1px white;
text-align: centre;
color: white;
}